* {
    margin: 0;
    padding: 0;
    background: #111;
    font-family: 'Hacen Tunisia Lt';
    
}


table ,tbody, thead, h6, button {
    font-size: 16px;
    /* font-weight: 400; */
    color: #FFF;
    width: fit-content;
}
input {
    font-size: 14px;
}

h6 {
    text-align: center;
    padding: 5px;
}
.project {
    width: 90%;
    height: 100vh;
    justify-content: center;
    margin: auto; 
    
}
button {
    border-radius: 20px;
    background: #9452eb;
    color: #fff;
    border:none;
    padding: 5px 5px;
}
img {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    z-index: 1000;
}

button:hover {
    background: #111;
    box-shadow: 0 0 30px #9452eb ;
    transform: scale(1.1);
    cursor: pointer;

}

#title {
    
    margin: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 50px;
}
#title input {
    margin-left: 20px;
}

#title small {
    font-family: sans-serif;
    font-size: 10px;
    margin: 10px;
    text-align: right;
    letter-spacing: 1px;
    color: #fff;
}
/* #logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px rgb(129, 72, 221) solid;
} */
#title h2 {
    margin: auto;
    align-content: center;
    border: none;
    padding: 20px 10px;
    color: #f6416c;
    border-right: 2px #9452eb solid;
    animation: typing 5s steps(16) infinite;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    0% {
        width: 0ch;
    }
    25% {
        width: 5ch;
    }

    50% {
        width: 16ch;
    }
    100% {
        width: 0ch;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    margin: 20px 0;
    padding: 10px 10px ;
    /* border: 2px #0f0 solid; */
    border-radius: 20px;
    
    
    
}
#header #datetime {
    width: fit-content;
}

.cashflow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5px;
    
    
}  

#cashf {
    display: flex;
    flex-direction: column;
    
}

table {
    font-size: 14px;
    font-weight: 100;
    /* width: 50%; */
    text-align: center;
    margin: 10px 20px;
    padding: 10px 5px;
    border: 2px #f6416c solid;
    border-spacing: 5px;
    border-radius: 10px;
    
    

}
th td {
    padding: 2px;
}

table input {
    width: 80px;
    text-align: center;
}


.inputs {
    width: 100%;
    margin-top:50px;
    padding: 0px;
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: 0 0 10px  #0f0 ; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #9452eb;
    
    
}
input {
    text-align:center ;
    outline: none;
    border: 2px #f6416c solid;
    width: 90px;
    height: 30px;
    background: #000;
    border-radius: 5px;
    color: #fff;
}

.output {
    margin-top: 0px ;
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    gap: 1px;
    box-shadow: 0 0 20px #9452eb;
    border-radius: 20px;
    
    
}
.output table {
    width: fit-content;
}

table #vv {
    border-radius:2px #f6416c solid ;
}



.info {
    margin: 20px 10px;
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
}
.lbl {
    margin-top: 30px;
    padding: 10px;
    display:flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0 0 20px #9452eb;
    
    
}

.lbl h6 {
    font-weight: 100;
    color:#fff;
    text-align: center;

}
.info h6 {
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    color:#f6416c ;

}

table thead th {
    font-weight: 100;
    color:#fd8da7 ;
}

#clearAllData {
    display: flex;
    justify-content: center;
}

#clearData {
    width: 100px;
    height: 30px;
    font-size: 14px;
    margin: 20px;
    
}
table tbody tbody {
    color: #fff;
    border-collapse: collapse;
}

td {
    border: 1px solid #9452eb;
    border-radius: 5px;
    
    
}


.footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 40px;
    z-index: 1000;
    background: transparent;
    
}

.footer p{
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    
}
.footer p strong{
    font-weight: 300;    
}
